<center><img src="redpopcorn.jpg"></center>

**Netflix**! What started in 1997 as a DVD rental service has since exploded into one of the largest entertainment and media companies.

Given the large number of movies and series available on the platform, it is a perfect opportunity to flex your exploratory data analysis skills and dive into the entertainment industry.

You work for a production company that specializes in nostalgic styles. You want to do some research on movies released in the 1990's. You'll delve into Netflix data and perform exploratory data analysis to better understand this awesome movie decade!

You have been supplied with the dataset `netflix_data.csv`, along with the following table detailing the column names and descriptions. Feel free to experiment further after submitting!

## The data
### **netflix_data.csv**
| Column | Description |
|--------|-------------|
| `show_id` | The ID of the show |
| `type` | Type of show |
| `title` | Title of the show |
| `director` | Director of the show |
| `cast` | Cast of the show |
| `country` | Country of origin |
| `date_added` | Date added to Netflix |
| `release_year` | Year of Netflix release |
| `duration` | Duration of the show in minutes |
| `description` | Description of the show |
| `genre` | Show genre |

In [69]:
# Importing pandas and matplotlib
import pandas as pd
import matplotlib.pyplot as plt

# Read in the Netflix CSV as a DataFrame
netflix_df = pd.read_csv("netflix_data.csv")

In [70]:
# Start coding here! Use as many cells as you like

netflix_df.head()

  show_id  ...             genre
0      s2  ...            Dramas
1      s3  ...     Horror Movies
2      s4  ...            Action
3      s5  ...            Dramas
4      s6  ...  International TV

[5 rows x 11 columns]

In [71]:

df = netflix_df[['title', 'release_year', 'duration', 'type', 'genre']]


import numpy as np

df_1990s=df[np.logical_and(df['release_year']>= 1990 , df['release_year']< 2000)]
print(df_1990s)

                                title  release_year  ...   type           genre
6                                 187          1997  ...  Movie          Dramas
118                 A Dangerous Woman          1993  ...  Movie          Dramas
145            A Night at the Roxbury          1998  ...  Movie        Comedies
167   A Thin Line Between Love & Hate          1996  ...  Movie        Comedies
194                      Aashik Awara          1993  ...  Movie          Dramas
...                               ...           ...  ...    ...             ...
4672                      West Beirut          1999  ...  Movie          Dramas
4689      What's Eating Gilbert Grape          1993  ...  Movie  Classic Movies
4718                   Wild Wild West          1999  ...  Movie          Action
4746                       Wyatt Earp          1994  ...  Movie          Action
4756                      Yaar Gaddar          1994  ...  Movie          Dramas

[184 rows x 5 columns]

In [72]:
print(df_1990s['duration'].mode()[0])

94

In [73]:
duration = 94

In [74]:
import numpy as np
import pandas as pd


# Corrected code
short_movie_count_ext = np.logical_and(df_1990s['genre'] == 'Action', df_1990s['duration'] < 90)
short_movie_count_ext1 = df_1990s[short_movie_count_ext & (df_1990s['type'] == 'Movie')]
print(short_movie_count_ext1.count())

title           7
release_year    7
duration        7
type            7
genre           7
dtype: int64

In [75]:
short_movie_count = 7